astroid
django
django-crispy-forms
django-easy-pdf
et-xmlfile
html5lib
httplib2
inflect
isort
jdcal
lazy-object-proxy
mccabe
Pillow
pylint
PyPDF2
pytz
reportlab
six
typed-ast
webencodings
wrapt
xhtml2pdf
XlsxWriter
black==21.8b0
click==8.0.1
colorama==0.4.4
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.3.0
regex==2021.8.28
tomli==1.2.1
typing-extensions==3.10.0.2