{% extends 'finance_template/base_template.html' %}

{% block page_title %}
    Edit Reciept | #ID : {{ reciept.id }}
{% endblock page_title %}

{% block main_content %}

{% load static %}
 
<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit Reciept</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="POST" action="{% url 'edit_reciept_save' %}">
                        {% csrf_token %}

                        
                                {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                            

                        <div class="card-body">
                            <div class="form-group">
                                <label>Student Name </label>
                                <input type="text" class="form-control" name="stu_name" placeholder="Enter Student Name" value="{{reciept.student_name}}">
                                <input type="hidden" name="reciept_id" value="{{ reciept.id }}" />
                            </div>
                            <div class="form-group">
                                <label>Student ID </label>
                                <input type="text" class="form-control" name="stu_id" placeholder="Enter Student ID" value="{{reciept.student_id}}">
                            </div>
                            <div class="form-group">
                                <label>Tution</label>
                                <input type="checkbox" class="form-control" name="tution" value="{{reciept.tution}}">
                            </div>
                            <div class="form-group">
                                <label>Acceptance</label>
                                <input type="checkbox" class="form-control" name="acceptance" value="{{reciept.acceptance}}">
                            </div>
                            <div class="form-group">
                                <label>Application</label>
                                <input type="checkbox" class="form-control" name="application" value="{{reciept.application}}">
                            </div>
                            <div class="form-group">
                                <label>Others</label>
                                <input type="checkbox" class="form-control" name="others" value="{{reciept.others}}">
                            </div>
                            <div class="form-group">
                                <label>Amount </label>
                                <input type="text" class="form-control" name="amount" placeholder="Enter Amount" value="{{reciept.amount}}">
                            </div>
                            <div class="form-group">
                                <label>Total </label>
                                <input type="text" class="form-control" name="total" placeholder="Enter Total" value="{{reciept.total}}">
                            </div>
                            <div class="form-group">
                                <label>Notes </label>
                                <input type="text" class="form-control" name="notes" placeholder="Enter Notes" value="{{reciept.notes}}">
                            </div>
                        </div>                     
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Update Reciept</button>
                        </div>
                    </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}