{% extends 'base.html' %}
{% load static %} 

{% block content %}

    <body class="hold-transition login-page" style="background-color: rgb(17, 16, 16);">
<div class="login-box">
  <div class="login-logo">
    <img src="{% static './linco.png' %}">
    <div class="row">
         <a href="{% url 'login' %}" style="color: white;"><b> Lincoln Finance </b>Management System</a>
    </div>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to Finance Management System</p>

      <form method="POST">
        <span class="mb-0 text-muted">
          {% if msg %}
              {{ msg | safe }}
          {% endif %}
        </span>
          <form  method="post">
              {% csrf_token %}
            <div class="form-group first">
              <label for="username">Username</label>
                {{ form.username }}
            </div>
            <div class="form-group last mb-4">
              <label for="username">Password</label>
              {{ form.password }}
            </div>

            <div class="d-flex mb-5 align-items-center">
              <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                <input type="checkbox" checked="checked"/>
                <div class="control__indicator"></div>
              </label>
              <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>
            </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>

          {% comment %} <div class="col-12 text-center">
            <a href="{% url 'password_reset' %}">Reset Password</a>
          </div>  {% endcomment %}

          {% comment %} Display Messages {% endcomment %}
          {% if messages %}
          <div class="col-12">
            {% for message in messages %}
              {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          {% endif %}

          <!-- /.col -->
        </div>
      </form>


  </div>
</div>
<!-- /.login-box -->

{% endblock %}